<div class="container">
	<div class="row">
		<h1>時間帯編集</h1>
			<%= form_for [:teachers,@time_class] do |f| %>
				<%= f.label :クラス %>
				<%= f.text_field :time_zone %>
				<%= f.submit '変更を保存する', class: "btn btn-primary"%>
			<% end %>
	</div>
</div>