<h1>出席完了しました</h1>
	<p><%= @attendee.lesson.genre.name %></p>
	<p><%= @attendee.student.last_name %></p>
	<p><%= @attendee.lesson.teacher.last_name %></p>
	<p><%= @attendee.lesson.area_class.name %></p>
