<div class="container">
	<div class="row">
		<table class="table table-striped">
			<thead>
				<th>レッスン一覧</th>
			</thead>
			<tbody>
				<% @lessons.each do |lesson| %>
					<tr>
						<td><%= area_class.name %></td>
						<td><%= genre.name %></td>
						<td><%= teacher.name %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>